<section id="basic-horizontal-layouts">
  <div class="row match-height">
    <div class="col-md-6 col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Cancel Credit Note</h4>
        </div>
        <div class="card-body">

          <swal #approvedSwal
                text="{{ approvedSwal?.text }}"
                title="{{ approvedSwal?.title }}"
                icon="{{ approvedSwal?.icon }}">

          </swal>

          <form [formGroup]="creditNoteForm" class="form form-vertical">
            <div class="form-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <mat-form-field appearance="fill">
                      <mat-label>Reason </mat-label>
                      <mat-select formControlName="reason_code"  (selectionChange)="reasonSelected()" >
                        <mat-option>Select Reason Type</mat-option>
                        <mat-option *ngFor="let type of reasonType"
                                    [value]="type">{{ type.key }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="formControl.reason_code.invalid && (formControl.reason_code.dirty || formControl.reason_code.touched)"
                      align="end">
                      <b *ngIf="formControl.reason_code.errors.required">Reason is required</b>
                    </mat-error>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <mat-form-field appearance="fill">
                      <mat-label>Remarks</mat-label>
                      <input matInput formControlName="reason" >
                    </mat-form-field>
                    <mat-error
                      *ngIf="formControl.reason.invalid && (formControl.reason.dirty || formControl.reason.touched)"
                      align="end">
                      <b *ngIf="formControl.reason.errors.required">Remarks is required</b>
                    </mat-error>

                  </div>
                </div>

                <div class="col-12 d-flex justify-content-end">
                  <div class="text-right">
                    <button mat-raised-button class="btn btn-primary" (click)="submitCase()"
                            [disabled]="!validateApplicationForm()" >
                      <mat-icon>cancel</mat-icon>
                      <span> Cancel Credit Note </span>
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
