<section class="invoice-view-wrapper">
  <div class="row">
    <!-- invoice view page -->
    <div class="col-xl-9 col-md-8 col-12">
      <div class="card invoice-print-area">
        <div class="card-body pb-0 mx-25">
          <!-- header section -->
<!--          <div class="row">-->
<!--            <div class="col-lg-4 col-md-12">-->
<!--              <small class="text-muted">Issue Date: </small>-->
<!--              <span> {{invoice.basicInformation.issueDate}} </span>-->

<!--              <br>-->

<!--            </div>-->
<!--            <div class="col-lg-8 col-md-12">-->
<!--              <div class="d-flex align-items-center justify-content-lg-end flex-wrap">-->
<!--                <div class="mr-4">-->
<!--                  <span class="invoice-number mr-50">FDN#</span>-->
<!--                  <span><b>{{invoice.basicInformation.invoiceNo }}</b></span>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <span class="invoice-number mr-50">InvoiceID#</span>-->
<!--                  <span><b>{{invoice.basicInformation.invoiceId }}</b></span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <!-- logo and title -->
          <div class="row my-3 my-sm-3">
            <div class="col-sm-6 col-12 text-center text-sm-left order-2 order-sm-1">
              <h4 class="text-primary">Peacock Paints ltd</h4>
            </div>
            <div *ngIf="credit_note.summary.qrCode !== ''" class="col-sm-6 col-12 text-center text-sm-right order-1 order-sm-2 d-sm-flex justify-content-end mb-1 mb-sm-0">
              <qr-code [value]="credit_note.summary.qrCode" width="600"></qr-code>
            </div>
          </div>
          <hr>
          <!-- invoice address and contact -->
          <div class="row invoice-info">
            <div class="col-sm-6 col-12 mt-1">
              <h6 class="invoice-from">Credit Note Details</h6>
              <div class="mb-1">
                <span>{{credit_note.oriInvoiceId}}</span>
              </div>
              <div class="mb-1">
                <span>{{ credit_note.oriInvoiceNo }}</span>
              </div>
              <div class="mb-1">
                <span>{{credit_note.referenceNo}}</span>
              </div>
              <div class="mb-1">
<!--                <span>{{credit_note.sellerDetails.linePhone }}</span>-->
              </div>
            </div>
<!--            <div class="col-sm-6 col-12 mt-1">-->
<!--              <h6 class="invoice-to">Bill To</h6>-->
<!--              <div class="mb-1">-->
<!--                <span>{{invoice.buyerDetails.businessName}}</span>-->
<!--              </div>-->
<!--              <div class="mb-1">-->
<!--                <span>{{invoice.buyerDetails.buyerAddress}}</span>-->
<!--              </div>-->
<!--              <div class="mb-1">-->
<!--                <span>{{invoice.buyerDetails.buyerEmail}}</span>-->
<!--              </div>-->
<!--              <div class="mb-1">-->
<!--                <span>{{invoice.buyerDetails.buyerLinePhone}}</span>-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <hr>
        </div>
        <!-- product details table-->
        <div class="invoice-product-details table-responsive">
          <table class="table table-borderless mb-0">
            <thead>
            <tr class="border-0">
              <th scope="col">Item</th>
              <th scope="col">Description</th>
              <th scope="col">Cost</th>
              <th scope="col">Qty</th>
              <th scope="col" class="text-right">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of credit_note.goodsDetails; index as i">
              <td>{{item.item}}</td>
              <td>{{item.goodsCategoryName}}</td>
              <td>{{item.unitPrice}}</td>
              <td>{{item.qty}}</td>
              <td class="text-primary text-right font-weight-bold">{{item.total}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- invoice subtotal -->
        <div class="card-body pt-0 mx-25">
          <hr>
          <div class="row">
            <div class="col-5 col-sm-6 col-12 mt-75">
              <p>Thanks for your business.</p>
            </div>
            <div class="col-8 col-sm-6 col-12  mt-75">
              <div class="invoice-subtotal">
                <div class="invoice-calc d-flex justify-content-between">
                  <span class="invoice-title"> Net Amount</span>
                  <span class="invoice-value"> {{credit_note.summary.netAmount }} </span>
                </div>
                <div class="invoice-calc d-flex justify-content-between">
                  <span class="invoice-title"> Tax Amount</span>
                  <span class="invoice-value"> {{credit_note.summary.taxAmount }} </span>
                </div>
                <hr>
                <div class="invoice-calc d-flex justify-content-between">
                  <span class="invoice-title"> Gross Amount</span>
                  <span class="invoice-value"> {{credit_note.summary.grossAmount}} </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- invoice action  -->
    <div class="col-xl-3 col-md-4 col-12">
      <div class="card invoice-action-wrapper shadow-none border">
        <div class="card-body">
          <div class="invoice-action-btn">
            <a [routerLink]="['/credit-notes/cancel/',credit_note.referenceNo]" routerLinkActive="router-link-active"  class="btn btn-primary btn-block invoice-send-btn">
              Cancel Credit Note
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
