<section id="basic-horizontal-layouts">
  <div class="row match-height">
    <div class="col-md-6 col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Add Unit of Measurement</h4>
        </div>
        <div class="card-body">

          <swal #approvedSwal
                text="{{ approvedSwal?.text }}"
                title="{{ approvedSwal?.title }}"
                icon="{{ approvedSwal?.icon }}">

          </swal>

          <form [formGroup]="measureForm" class="form form-vertical">
            <div class="form-body">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <mat-form-field appearance="fill">
                      <mat-label>Measurement Types</mat-label>
                      <mat-select formControlName="measurementType" >
                        <mat-option>Select Measurement Type</mat-option>
                        <mat-option *ngFor="let type of uTypes"
                                    [value]="type">{{ type.description }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="formControl.measurementType.invalid && (formControl.measurementType.dirty || formControl.measurementType.touched)"
                      align="end">
                      <b *ngIf="formControl.measurementType.errors.required">Measurement Type is required</b>
                    </mat-error>
                  </div>
                </div>

                <div class="col-12">
                  <div class="form-group">
                    <mat-form-field appearance="fill">
                      <mat-label>Units</mat-label>
                      <input matInput formControlName="units" >
                    </mat-form-field>
                    <mat-error
                      *ngIf="formControl.units.invalid && (formControl.units.dirty || formControl.units.touched)"
                      align="end">
                      <b *ngIf="formControl.units.errors.required">Units is required</b>
                    </mat-error>

                  </div>
                </div>

                <div class="col-12 d-flex justify-content-end">
                  <div class="text-right">
                    <button mat-raised-button class="btn btn-primary" (click)="submitCase()"
                            [disabled]="!validateApplicationForm()"  *ngIf="action === 'CREATE' || action === 'EDIT'">
                      <mat-icon> check</mat-icon>
                      <span> Submit </span>
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
